[Unit]
Description=respondd multicast collector
After=network.target

[Service]
ExecStart=/usr/bin/requestd
# Restart=on-abort
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
