[Unit]
Description=respondd multicast collector
After=network.target

[Service]
ExecStart=/usr/bin/requestd
# Restart=on-abort

[Install]
WantedBy=multi-user.target
