[Unit]
Description=respondd response collector
After=network.target

[Service]
ExecStart=/usr/bin/ffhl-collector -c /etc/ffhl-collector.yml
Restart=on-abort

[Install]
WantedBy=multi-user.target
