{% include "head" %}

<body onload="filterEvents()">
	{% include "navbar" %}
	<div class="container">
		<h1>Requestd</h1>
		<p>
			<table>
				<tr>
					<td><span class="badge bg-success">{{ nodes_online }}</span></td>
					<td>Nodes Online</td>
				</tr>
				<tr>
					<td><span class="badge bg-success">{{ responses_received }}</span></td>
					<td>Responses received</td>
				</tr>
				<tr>
					<td><span class="badge bg-danger">{{ nodes_offline }}</span></td>
					<td>Nodes Offline</td>
				</tr>
			</table>
		</p>

		<h1 class="bd-title">Recent events</h1>
		<div class="content">
			<p>show: </p>
			<div id="displayFilter">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="NewNode" checked onchange="filterEvents()">
					<label class="form-check-label" for="inlineCheckbox1"><span class="badge bg-primary">NewNode</span></label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="NodeOffline" checked onchange="filterEvents()">
					<label class="form-check-label" for="inlineCheckbox2"><span class="badge bg-danger">Offline</span></label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="NodeUpdate" onchange="filterEvents()">
					<label class="form-check-label" for="inlineCheckbox3"><span class="badge bg-secondary">Update</span></label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="NodeOnlineAfterOffline" checked onchange="filterEvents()">
					<label class="form-check-label" for="inlineCheckbox3"><span class="badge bg-success">Online</span></label>
				</div>
			</div>
		</div>
		<table class="table table-striped" id="event-history">
			<thead>
				<tr>
					<th scope="col">Event</th>
					<th scope="col">Node</th>
					<th scope="col">Timestamp</th>
				</tr>
			</thead>
			{% for event in recent_events %}
			<tr>
				<td>
					{% if event.event == "NodeUpdate" %}
						<span class="badge bg-secondary">{{ event.event }}</span>
					{% elif event.event == "NodeOffline" %}
						<span class="badge bg-danger">{{ event.event }}</span>
					{% elif event.event == "NewNode" %}
						<span class="badge bg-primary">{{ event.event }}</span>
					{% elif event.event == "NodeOnlineAfterOffline" %}
						<span class="badge bg-success">{{ event.event }}</span>
					{% else  %}
						<span class="badge bg-warning">{{ event.event }}</span>
					{% endif %}
				</td>
				<td>
					<a href="/nodes/{{ event.node.nodeid }}">{{ event.node.last_response.nodeinfo.hostname }}</a>
				</td>
				<td>{{ event.timestamp }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<script>
		function filterEvents() {
			var filters = document.getElementById("displayFilter").getElementsByTagName("input");
			var table = document.querySelector("#event-history");
			var rows = table.getElementsByTagName("tr");

			for (var f = 0; f < filters.length; f++) {
				for (i = 0; i < rows.length; i++) {
					var e = rows[i].getElementsByTagName("td")[0];
					if (typeof(e) === 'undefined') {
						continue;
					}
					var txtValue = e.textContent.trim();
					if(txtValue === filters[f].name) {
						rows[i].style.display = filters[f].checked ? "" : "none";
					}
				}
			}
		}
	</script>
</body>
